= semantic_form_for [@project, @milestone],
  :html => { :class => 'grid_6' } do |form|
  %h3 Milestone for project #{@project.description}
  = form.inputs do
    = form.input :milestone_type
    = form.input :reached
    = form.commit_button :button_html => { :class => 'main_link' }
