%table.entries
  %thead
    %tr
      %th Project
      %th Task
      %th Description
      %th Duration
      %th Edit
      %th Delete
  %tfoot
    %tr
      %td Total time
      %td
      %td
      %td= @total_time
      %td
      %td

  - entries.each do |entry|
    %tr
      %td= link_to entry_project_description(entry), edit_project_path(entry.project)
      %td= entry.task.name if entry.task
      %td= entry.description
      %td= entry.duration_hours
      %td= link_to (image_tag 'edit.png'), edit_entry_path(entry)
      %td= link_to (image_tag 'delete.png'), entry_path(entry),
        :method => :delete
