- unless @entries.empty?
  %table.gradient-table.center
    %tr
      %th Project
      %th Task
      %th Description
      %th Duration
      %th Edit
      %th Delete
    - @entries.each do |entry|
      %tr
        %td= entry.project.shortname
        %td= entry.task.name if entry.task
        %td= entry.description
        %td= entry.duration_hours
        %td= link_to (image_tag 'edit.png'), edit_entry_path(entry)
        %td= link_to (image_tag 'delete.png'), entry_path(entry), :method => :delete
%p
  - one_line do
    Total time(h:m)
    %strong= @total_time 
