%table.entries
  %thead
    %tr
      %th Project
      %th Project desc.
      %th Task
      %th Description
      %th Start
      %th End
      %th Duration
      %th Billable
      %th Edit
      %th Delete
  %tfoot
    %tr
      %td Burned
      %td
      %td
      %td
      %td
      %td
      %td= @total_time
      %td
      %td
      %td

  - entries.each do |entry|
    %tr
      %td= link_to entry.project.shortname, edit_project_path(entry.project)
      %td= truncate(entry.project.description, :length => 60)
      %td= entry.task.name if entry.task
      %td= entry.description
      %td= entry.start.strftime('%H:%M') if entry.start
      %td= entry.end.strftime('%H:%M') if entry.end
      %td= entry.duration_hours
      %td= bool_to_img(entry.billable)
      %td= link_to (image_tag 'edit.png'), edit_entry_path(entry)
      %td= link_to (image_tag 'delete.png'), entry_path(entry),
        :method => :delete
