= semantic_form_for @entry do |f|
  - if @entry.errors.any?
    #error_explanation
      %h2 
        = pluralize(@entry.errors.count, "error") 
        prohibited this entry from being saved

      %ul
      - @entry.errors.full_messages.each do |msg|
        %li
          = msg

  -# Show input field for :day(%input#entry_day_input) as hidden text field.
  -# This field is populated via jQuery and a datepicker.
  #entry-ui-datepicker
  = f.inputs do
    #project
      %input#entry_day_input{ :name => "entry[day]", 
                              :value => Date.today.strftime("%m/%d/%Y") }
      #project_dropdown
        Projects
        = f.input :project_id, :as => :select, 
          :collection => Project.where(:inactive => false)
      #tasks_dropdown
        = render :partial => 'tasks_select'
      #project_details
        #project_description
          Description
          %br/
          = f.input :description
        #project_start
          Start
          %br/
          = f.input :start, :as => :timepicker
        #project_end
          End
          %br/
          = f.input :end, :as => :timepicker
  = f.buttons do
    = f.commit_button
    = link_to 'Cancel', collection_path
