= semantic_form_for @entry do |f|
  - if @entry.errors.any?
    #error_explanation
      %h2 
        = pluralize(@entry.errors.count, "error") 
        prohibited this entry from being saved

      %ul
      - @entry.errors.full_messages.each do |msg|
        %li
          = msg

  -# Show input field for :day(%input#entry_day_input) as hidden text field.
  -# This field is populated via jQuery and a datepicker.
  #entry-ui-datepicker

  -# Prefetch all tasks for projects. Store them in this hidden input field
  -# as JSON. When the user selects a project, the related tasks can be
  -# shown very quickly, then.
  %input#tasks_collection_storage{ :value => get_tasks_by_projects }

  = f.inputs do
    #project

      %input#entry_day_input{ :name => "entry[day]", 
        :value => Date.today.strftime("%m/%d/%Y") }

      .project_item
        Projects
        = projects_select(f, @active_projects)
      .project_item
        Tasks
        = f.input :task_id, :as => :select, 
          :collection => tasks_collection
      #project_details
        .project_item
          Description
          = f.input :description
        #project_start.project_item
          Start
          = f.input :start, :as => :timepicker
        #project_end.project_item
          End
          = f.input :end, :as => :timepicker
        #project_duration.project_item
          Duration
          = f.input :duration_hours
        .project_item
          Billable
          = f.check_box :billable
  = f.buttons do
    = f.commit_button
    = link_to 'Cancel', collection_path

-# TODO: Move this logic in the controller. If moved to the create action,
-#  however, the instance variable won't be recognized in the view
-# TODO: Don't just list entries of today - list them for the day the last
-# entry hast been created for
- entries_of_today = Entry.find_all_by_user_id_and_day(current_user.id, Date.today)
- unless entries_of_today.nil?
  %table
    %tr
      %th Project
      %th Task
      %th Description
      %th Duration
    - entries_of_today.each do |entry|
      %tr
        %td= entry.project.shortname
        %td= entry.task.name if entry.task
        %td= entry.description
        %td= entry.duration_hours
