%h1 Listing entries

- @entries.each do |entry|
  = entry.day
  %b= entry.user.username
  = entry.project.shortname
  = link_to 'Show', entry
  = link_to 'Edit', edit_entry_path(entry)
  = link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete
  %br/

%br/
%br/

= link_to 'New Entry', new_entry_path
