%h1 Report

= form_for @search do |f|
  #entries_search_start
    = f.label :start_gte, "Begin"
    = f.date_select :start_gte
  #entries_search_start
    = f.label :end_lte, "End"
    = f.date_select :end_lte
  #entries_search_projects
    = f.label :project_id_equals, "Project"
    = f.select :project_id_equals, @active_projects, {:include_blank => ''}
  #entries_search_user
    = f.label :user_id_equals, "User"
    = f.select :user_id_equals, @users, {:include_blank => ''}
  #entries_search_button
    = f.submit "Search"
    | 
    = link_to "Download CSV", 
      entries_path( { :search => params[:search] }.merge(:format => "csv"))

%table
  %tr
    %th= sort_link @search, :day
    %th= sort_link @search, :duration, "Hours"
    %th= sort_link @search, :user_id
    %th= sort_link @search, :project_id
    %th
  - @entries.each do |entry|
    %tr
      %td= entry.day
      %td= entry.duration_hours
      %td= entry.user.username
      %td= entry.project.shortname
      %td
        = link_to 'Show', entry
        = link_to 'Edit', edit_entry_path(entry)

#pagination
  = will_paginate @entries
