%h1 Listing entries

= form_tag entries_path, :method => 'get' do
  %p 
    = text_field_tag :project_name, params[:project_name]
    = select_tag :user, options_from_collection_for_select(User.all, "id", "username", params[:user])
    = submit_tag "Filter", :name => nil

- @entries.each do |entry|
  = entry.day
  %b= entry.user.username
  = entry.project.shortname
  = link_to 'Show', entry
  = link_to 'Edit', edit_entry_path(entry)
  = link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete
  %br/

= will_paginate @entries

%br/
%br/

= link_to 'New Entry', new_entry_path
