<%= error_messages_for 'entry' %>
<% javascript 'dynamic_tasks' %>




<h1>Entries for <%= @date.strftime("%A %d. %B %Y") %> </h1>

<div id='main'>

  <div class="table">
    <div class="row">
      <div style="margin: 0pt; padding: 0pt; width: 0pt;"> </div>
      <div class="headercell">Project
        &nbsp;
        <%= link_to('[...]',
        { :controller => 'projects'},
        { :confirm => 'All unsaved changes will be lost. Proceed?'} ) %>
      </div>
      <div class="headercell">Task</div>
      <div class="headercell">Description</div>
      <div class="headercell" style='text-align: right;'>Duration</div>
      <div class="headercell">Control</div>
    </div>
  
    <% if !@entry.id %>
    <%= render :partial => 'editrow' %>
    <% end %>
  
    <% for e in @entries %>
      <% if @entry.id == e.id %>
        <%= render :partial => 'editrow' %>
      <% else %>
        <%= render(:partial => 'displayrow', :locals => { :e => e } ) %>
      <% end %>
    <% end %>
    
    <div class="row">
      <div style="margin: 0pt; padding: 0pt; width: 0pt;"> </div>
      <div class='textcell'>&nbsp;</div>
      <div class='textcell'>&nbsp;</div>
      <div class='textcell'>&nbsp;</div>
      <div class="textcell" style='text-align: right;'><%= @total %></div>
      <div class='textcell'>&nbsp;</div>
    </div>
  
  </div>




  <div style='margin-top: 20px'>
    <% form_tag :action => 'index' do %>
    <%= select_date @date  %>
    <%= submit_tag "Switch" %>
    <% end %>
  </div>


</div>
