#notice
  = notice

%dl.show_item
  %dt Day:
  %dd= @entry.day

  %dt User:
  %dd= @entry.user.username

  %dt Project:
  %dd= @entry.project.shortname

  %dt Task:
  -# TODO: Task should never be nil. A task has to be selected for an entry.
  %dd= @entry.task.try(:name)

  %dt Description:
  %dd= @entry.description

  %dt Start:
  %dd= @entry.start

  %dt End:
  %dd= @entry.end

  %dt Duration:
  %dd= @entry.duration_hours

  %dt Billable:
  %dd= @entry.billable


= link_to 'Edit', edit_entry_path(@entry) |
= link_to 'Back', entries_path 
