#notice
  = notice

.line_attribute
  %b Day:
  = @entry.day

.line_attribute
  %b User:
  = @entry.user.username

.line_attribute
  %b Project:
  = @entry.project.shortname

.line_attribute
  %b Task:
  -# TODO: Task should never be nil. A task has to be selected for an entry.
  = @entry.task.name unless @entry.task.nil?

.line_attribute
  %b Description:
  = @entry.description

.line_attribute
  %b Start:
  = @entry.start

.line_attribute
  %b End:
  = @entry.end

.line_attribute
  %b Duration:
  = @entry.duration_hours

.line_attribute
  %b Billable:
  = @entry.billable


= link_to 'Edit', edit_entry_path(@entry) |
= link_to 'Back', entries_path 
