= semantic_form_for @user, :html => { :class => 'grid_6' } do |form|
  = #devise_error_messages!
  = form.inputs :name => 'User' do
    = form.input :username if current_user.admin?
    = form.input :email
    = form.input :password, :label => "New password"
    = form.input :password_confirmation, :label => "Re-enter new password"
    - unless current_user.admin? && @user.id!=current_user.id
      %br
      = form.input :current_password
    - if current_user.admin?
      = form.input :active
      = form.input :external
      = form.input :admin
    = form.commit_button
