= semantic_form_for @user, :html => { :class => 'grid_6' } do |form|
  = #devise_error_messages!
  = form.inputs :name => 'User' do
    = form.input :username if current_user.admin?
    = form.input :email
    = form.input :password
    = form.input :password_confirmation unless current_user.admin?
    - unless current_user.admin? && @user.id!=current_user.id
      = form.input :current_password
    = form.input :admin if current_user.admin?
    = form.commit_button
