%h2.grid_12 Users

.box.grid_12
  %h2=link_to 'Users Management', '#', :class => 'toggle-box'
  %div
    %table.users
      %thead
        %tr
          %th=sortable "username"
          %th=sortable "email"
          %th Edit
          %th Delete

      - collection.each do |user|
        %tr
          %td= link_to user.username, edit_resource_path(user)
          %td= user.email
          %td= link_to (image_tag 'edit.png'), edit_user_path(user)
          %td= link_to (image_tag 'delete.png'),
            user_path(user), :method => :delete

  .button_link= link_to 'Add new user', new_user_path
