<%= error_messages_for :bill %>


<% form_for(@bill, :html => { :id => 'bill_form' }) do |f| %>
<%# form_for :bill, @bill, :url => { :action => 'update' }, 
            :html => { :id => 'bill_form' }  do |f| %>

  <%= f.hidden_field :id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :project_id %>

  <fieldset>
    <legend>Bill for Project <%= @bill.project.description %></legend>
    <div style='float: left; padding-right: 5px;'>
    <label for="bill_name">Name:</label><br/>
    <%= f.text_field(:name) %>
    </div>
    <div style='float: left; padding-right: 5px;'>
    <label for="bill_name">From:</label><br/>
    <%= f.date_select(:start, { :discard_day => true }) %>
    </div>
    <div style='float: left; padding-right: 5px;'>
    <label for="bill_name">To:</label><br/>
    <%= f.date_select(:end, { :discard_day => true }) %>
    </div>
    <div class='controlcell'>&nbsp;<br />
    <%= submit_tag "save", { :class => 'persist' } %>
    </div>
  </fieldset>

  <h2>Entries already on this bill</h2>
  <div id='entries'>
  <p>
    Entries shown below were already added to this bill. You can remove them
    by unchecking the 'Include?' flag.
  </p>
  <%= render :partial => 'entries', :object => @bill.entries  %>
  </div>

  <h2>Entries to add to this bill</h2>
  <p>
    Entries shown below are candidates to be added to this bill. They match
    the project of the current bill, lie in the date range which you
    selected above and were not billed yet. You can add entries to this bill
    by checking the 'Include?' flag. You may change the 'From' and
    'To' dates of your bill to include more entries, but no entry can be
    added to two bills.
  </p>
  <div id='cand_entries'>
  <%= render :partial => 'entries', :object => @can_entries  %>
  </div>

<% end %>

<%= observe_form('bill_form', 
    { :url => { :action => 'update' }, :update => 'cand_entries' }) %>

