<p>Please choose a bill:</p>
    <div class='table' style='width: 100%'>
      <div class='row'>
        <div class='headercell'>Created at</div>
        <div class='headercell'>Last changed at</div>
        <div class='headercell'>By</div>
        <div class='headercell'>Project</div>
        <div class='headercell'>Bill Name</div>
        <div class='headercell'>Time Range</div>
        <div class='headercell'>Control</div>
      </div>
    <% @bills.each do |b| %>
      <div class='<%=rowstyle(b.id)%>'>
        <div class='textcell'>
          <%= b.created_at.strftime("%d. %B %Y") %>
        </div>
        <div class='textcell'>
          <%= b.updated_at.strftime("%d. %B %Y") %>
        </div>
        <div class='textcell'>
          <%= h(b.user.name) %>
        </div>
        <div class='textcell'>
          <%= h(b.project.description) %>
        </div>
        <div class="textcell">
          <%= h(b.name) %>
        </div>
        <div class='textcell'>
          <%= b.start.strftime("From %B %Y") if b.start %>
          <%= b.end.strftime("to %B %Y") if b.end %>
        </div>
        <div class="controlcell">
          <%= link_to('Edit', edit_bill_path(b),
                      { :class => 'edit' }) %>
          <%= link_to('Show', formatted_bill_path(b, :csv),
                      { :class => 'csv' }) %>
        </div>
      </div>
    <% end %>
    </div>

    <p />

  <p>Or create a new bill:</p>

  <% form_for(@bill) do |f| %>
  <fieldset>
    <legend>Create new bill</legend>
      <div style='float: left; margin-right: 5px;'>
        <label for="project_id">Project:</label><br/>
        <%= collection_select(:bill, :project_id,
        Project.find(:all), :id, :description
        )
        %>
      </div>
      <div class='controlcell'>&nbsp;<br />
      <%= submit_tag "create", { :class => 'new' } %>
      </div>
    </fieldset>
  <% end %>
