%table.accountings
  %thead
    %tr
      %th Description
      %th= sort_link @accountings_search, :amount
      %th= sort_link @accountings_search, :valuta
      %th= sort_link @accountings_search, :updated_at
      %th= sort_link @accountings_search, :sent
      %th= sort_link @accountings_search, :payed
      %th Attachments
      %th Delete
  %tfoot
    %tr
      %td
        %strong Subtotal
      %td= number_to_currency(@accountings_sum, :delimiter => '`', :unit => "")

  - @accountings.each do |accounting|
    %tr
      %td= link_to accounting.description,
        edit_project_accounting_path(@project, accounting),
        :rel => 'facebox'
      %td= number_to_currency(accounting.amount, :delimiter => '`', :unit => "")
      %td= l accounting.valuta
      %td= l accounting.updated_at
      %td= bool_to_img(accounting.sent)
      %td= bool_to_img(accounting.payed)
      %td
        - if not accounting.link.nil? and not accounting.link.empty?
          = link_to (image_tag 'link.png'), accounting.link
        - unless accounting.document_file_name.nil?
          = link_to (image_tag 'document.png'), accounting.document.url
      %td= link_to (image_tag 'delete.png'),
        project_accounting_path(@project, accounting), :method => :delete
