= semantic_form_for @project do |form|
  %h3 Project
  = form.inputs do 
    = form.input :shortname
    = form.input :description
    = form.input :start, :as => :datepicker
    = form.input :end, :as => :datepicker
    = form.input :project_state_id, :as => :select, :collection => @project_states 
    = form.input :inactive

  %h3 Tasks
  #tasks
    = form.inputs :for => :tasks do |task|
      = render 'task_fields', :f => task
    = link_to_add_fields "Add task", form, :tasks

  = link_to 'Add accounting position', new_project_accounting_path(@project), :class => 'main_link' if @project.persisted?
  = link_to 'View accounting positions', project_accountings_path(@project), :class => 'main_link' if @project.persisted?
  = form.buttons do
    = form.commit_button :button_html => { :class => 'main_link' }
