= link_to 'Add accounting position', new_project_accounting_path(@project), :class => 'main_link' if @project.persisted?
= link_to 'View accounting positions', project_accountings_path(@project), :class => 'main_link' if @project.persisted?
%br

.box.grid_3
  %h2
    Time
  = render :partial => 'time_table'

.box.grid_3
  %h2
    Finance
  Foo
.box.grid_3
  %h2
    Status
  Foo
.box.grid_3
  %h2
    Project Organization
  Foo

.grid_12
  = semantic_form_for @project do |form|
    - unless @project.errors.empty?
      %ul#flash_alert
        - @project.errors.full_messages.each do |msg|
          %li= msg

    %h3 Project
    = form.inputs do
      = form.input :shortname, :input_html => { :size => 7, :maxlength => 7 }
      = form.input :description
      = form.input :start, :as => :date_picker,
        :input_html => { :size => 12, :maxlength => 12 }
      = form.input :end, :as => :date_picker,
        :input_html => { :size => 12, :maxlength => 12 }
      = form.input :project_state_id, :as => :select,
        :collection => @project_states
      = form.input :probability, :as => :select,
        :collection => @project_probabilities, :include_blank => false
      = form.input :wage, :input_html => { :size => 5 }
      = form.input :rpl, :input_html => { :size => 5 }
      = form.input :external
      = form.input :inactive

    %h3 Responsibilities
    %dl
      - @project.responsibilities.each do |responsibility|
        = form.fields_for :responsibilities,
          responsibility do |responsibility_form|
          = render 'responsibility_fields',
            {:responsibility_form => responsibility_form,
            :responsibility => responsibility}

    -# The Milestone partial requires a form_for instead of semantic_form_for
    -# in order to access the value (without the input) of it's type which is
    -# referred from MilestoneTypes
    %h3 Milestones
    %dl
      - @project.milestones.each do |milestone|
        = form.fields_for :milestones, milestone do |milestone_form|
          = render 'milestone_fields',
            {:milestone_form => milestone_form, :milestone => milestone}

    %h3 Tasks
    = form.inputs :for => :tasks do |task|
      = render 'task_fields', :f => task
    = link_to_add_fields "Add task", form, :tasks, "$('li.tasks:last')"

    = form.buttons do
      = form.commit_button :button_html => { :class => 'main_link' }
