= semantic_form_for(@project) do |form|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error") 
        prohibited this project from being saved:

      %ul
      = @project.errors.full_messages.each do |msg|
        %li
        = msg

  %h3 Project
  = form.inputs do 
    = form.input :name
    = form.input :description
    = form.input :start, :as => :date_picker
    = form.input :end
    = form.input :inactive unless action_name == 'new'

  %h3 Tasks
  #tasks
    = form.inputs :for => :tasks do |task|
      = render 'task_fields', :f => task
    = link_to_add_fields "Add task", form, :tasks

  = form.buttons do
    = form.commit_button 
  = link_to 'Cancel', collection_path
