.milestone
  %dt.milestones= milestone.milestone_type.name
  %dd.milestones
    = milestone_form.text_field :start, :class => 'ui-datepicker',
      :size => 12, :maxlength => 12,
      :value => localized_date(milestone_form, :start)
    = milestone_form.check_box :reached
    = milestone_form.label :reached, 'Milestone reached'
    = milestone_form.hidden_field :milestone_type_id,
      :value => milestone.milestone_type.id
  %dd
    = milestone_form.label :url
    = milestone_form.text_field :url

  %dd
    = milestone_form.label :document
    - if milestone.document.present?
      = link_to milestone.document.url, milestone.document.url
      = link_to "remove", '#'
    - else
      = milestone_form.file_field :document


