.milestone
  %dt.milestones= milestone.milestone_type.name
  %dd
    = milestone_form.text_field :start, :class => 'ui-datepicker',
      :size => 12, :maxlength => 12,
      :value => localized_date(milestone_form, :start)
    = milestone_form.check_box :reached
    = milestone_form.label :reached, 'Achieved'
    = milestone_form.hidden_field :milestone_type_id,
      :value => milestone.milestone_type.id
  %dd.milestones
    = milestone_form.label :url
    = milestone_form.text_field :url, :size => 22

  %dd.milestones
    = milestone_form.label :document
    - if milestone.document.present?
      = link_to File.basename(milestone.document.url), milestone.document.url
      = link_to (image_tag 'delete.png'), '#'
    - else
      = milestone_form.file_field :document, { :size => 15 }


