%h2 Project
%b Name:
= project.name
<br />
<br />
%b Description:
= project.description
<br />
<br />
%b Start:
= project.start
<br />
%b End:
= project.end
<br />
<br />
%b Inactive:
= project.inactive ? "Yes" : "No"

%h3 Tasks
%ol
  - for task in project.tasks
    - unless task.inactive
      %li
        = task.name
      <br />
  %li
    Inactive tasks:
    = project.tasks.where(:inactive => true).size

Actions
=link_to 'edit', edit_resource_path(project)
