%h2 Project
%b Name:
= project.name
<br />
<br />
%b Description:
= project.description
<br />
<br />
%b Start:
= project.start
<br />
%b End:
= project.end
<br />
<br />
%b Inactive:
= { true => "Yes", false => "No"}[project.inactive]

%h3 Tasks
%ol
  = for task in project.tasks
    - unless task.inactive
      %li
        = task.name
      <br />

Actions
=link_to 'edit', edit_resource_path(project)
