%h2 Project

%dl.show_item
  %dt Name:
  %dd= project.shortname
  %dt Description:
  %dd= project.description
  %dt Start:
  %dd= project.start
  %dt End:
  %dd= project.end
  %dt Inactive:
  %dd= project.inactive ? "Yes" : "No"

%h3 Tasks
%ol
  - for task in project.tasks
    - unless task.inactive
      %li= task.name
  %li
    Inactive tasks:
    = @number_of_inactive_tasks

=link_to 'Edit project', edit_resource_path(project)
