%h2 Project

.line_attribute
  %b Name:
  = project.shortname
.line_attribute
  %b Description:
  = project.description
.line_attribute
  %b Start:
  = project.start
.line_attribute
  %b End:
  = project.end
.line_attribute
  %b Inactive:
  = project.inactive ? "Yes" : "No"

%h3 Tasks
%ol
  - for task in project.tasks
    - unless task.inactive
      %li
        = task.name
  %li
    Inactive tasks:
    = @number_of_inactive_tasks

Actions
=link_to 'edit', edit_resource_path(project)
