= semantic_form_for @project do |form|
  - unless @project.errors.empty?
    %ul#flash_alert
      - @project.errors.full_messages.each do |msg|
        %li= msg

  .grid_6.alpha
    = form.inputs :name => 'Project Details' do
      = form.input :shortname,
        :input_html => { :size => 7, :maxlength => 7 }
      = form.input :description
      = form.input :start, :as => :date_picker,
        :input_html => { :size => 12, :maxlength => 12 }
      = form.input :end, :as => :date_picker,
        :input_html => { :size => 12, :maxlength => 12 }
      = form.input :project_state_id, :as => :select,
        :collection => @project_states
      = form.input :probability, :as => :select,
        :collection => @project_probabilities, :include_blank => false
      = form.input :wage, :input_html => { :size => 5 }
      = form.input :rpl, :input_html => { :size => 5 }
      = form.input :external
      = form.input :inactive

  .grid_6.omega
    %fieldset
      %legend Responsibilities
      %dl
        - @project.responsibilities.each do |responsibility|
          = form.fields_for :responsibilities,
            responsibility do |responsibility_form|
            = render 'responsibility_fields',
              {:responsibility_form => responsibility_form,
              :responsibility => responsibility}

  .grid_12.alpha.omega

  -# The Milestone partial requires a form_for instead of semantic_form_for
  -# in order to access the value (without the input) of it's type which is
  -# referred from MilestoneTypes
  .grid_6.alpha
    %fieldset
      %legend Milestones
      %dl
        - @project.milestones.each do |milestone|
          = form.fields_for :milestones, milestone do |milestone_form|
            = render 'milestone_fields',
              {:milestone_form => milestone_form, :milestone => milestone}

  .grid_6.omega
    %fieldset
      %legend Tasks
      %dl
        - @project.tasks.each do |task|
          = form.fields_for :tasks, task do |task_form|
            = render 'task_fields',
              {:f => task_form, :task => task}
        .button_link
          = link_to_add_fields 'Add task', form,
            :tasks, "$('dd.tasks:last')"

  .grid_12.alpha.omega
    = form.buttons do
      = form.commit_button
