%table
  %tfoot
    %tr
      %td Total time
      %td= @project.total_time
    %tr
      %td Time billable
      %td= @project.time_billable
  %tr
    %td= "Burned time"
    %td= @project.burned_time
  %tr
    %td= "Expected remaining work"
    %td= @project.expected_remaining_work
