%table
  %tfoot
    %tr{ :title => "entries.sum(:duration) + rpl" }
      %td Total
      %td
        = @project.total_time
  %tr{ :title => "entries.sum :duration" }
    %td= "Burned"
    %td= @project.burned_time
  %tr{ :title => "rpl" }
    %td= "To burn"
    %td= @project.expected_remaining_work
