

%h2.grid_12
  Project
  = project_description(@project)

.box.stats_table.grid_3
  %h2
    Work Time
  = render :partial => 'time_table'

.box.stats_table.grid_3
  %h2
    Finance
  = render :partial => 'finance_table'
.box.stats_table.grid_3
  %h2
    Status
  = render :partial => 'status_table'
.box.stats_table.grid_3
  %h2
    Project Organization
  = render :partial => 'organization_table'

%h2.grid_12
= render 'form'

- if @chart_data
  %h2.grid_12
  .grid_12.box
    %h2=link_to 'History', '#', :class => 'toggle-box toggle-box-collapsed'
    %div
      = high_chart("chart", @chart_data)

%h2.grid_12
- unless @accountings.nil?
  = render :partial => 'accounting_positions'

%h2.grid_12
- if @project.entries.present?
  = render 'entries'
