%h2.grid_12 Projects

= form_for @search, :url => projects_path,
  :html => {:method => :get, :class => 'grid_12 filter'} do |f|
  .grid_2
    = f.check_box :inactive_is_false
    = f.label :inactive_is_false, 'active'
  .grid_2.alpha
    = f.check_box :inactive_is_true
    = f.label :inactive_is_true, 'inactive'
  .grid_2
    = f.check_box :external_is_true
    = f.label :external_is_true, 'external'
  .grid_2
    = f.check_box :external_is_false
    = f.label :external_is_false, 'internal'
  .grid_2
    = f.select :project_state_id_equals,
      @project_states.collect {|p| [p.name, p.id]}, :include_blank => true
    = f.label :project_state_id_equals, 'state'
  .grid_2.omega= f.submit 'filter'

.box.grid_12
  %h2=link_to 'Project Overview', '#', :class => "toggle-box"
  %div
    %table.projects
      %thead
        %tr
          %th= sort_link @search, :probability
          %th= sort_link @search, :shortname, 'Name'
          %th= sort_link @search, :start
          %th= sort_link @search, :end
          %th= sort_link @search, :project_state_id
          %th= sort_link @search, :expected_profitability, "Exp. Profitability"
          %th{:title => "where('valuta <= ?', Time.now).where(:payed => false, :sent => true, :positive => true).sum :amount"}= sort_link @search, :overdue_amount,  'Overdue amount'
          %th= sort_link @search, :volume, 'Revenue'
          %th= sort_link @search, :inactive, 'Active'
          %th= sort_link @search, :external, 'External'

      - @projects.each do |project|
        %tr
          %td= link_to project_description(project), edit_project_path(project)
          %td= "#{project.probability * 100} %"
          %td= l project.start
          %td= l project.end
          %td= get_project_state(project)
          %td= expected_profitability(project)
          %td= project.overdue_amount
          %td= project.volume
          %td= bool_to_img(!project.inactive)
          %td= bool_to_img(project.external)
