= semantic_form_for [@project, @responsibility],
  :html => { :class => 'grid_6' } do |form|
  %h3 Responsibility for project #{@project.description}
  = form.inputs do
    = form.input :description
    = form.inputs :for => :user do |user|
      user.object.name
    = form.commit_button
