%h2 Log in

= semantic_form_for (resource, :as => resource_name, :url => session_path(resource_name)) do |form|
  = form.inputs do
    = form.input :username 
    = form.input :password
  = form.buttons do
    = form.commit_button
  - if devise_mapping.rememberable?
    = form.check_box :remember_me
    = form.label :remember_me
