= semantic_form_for @responsibility_type,
  :html => { :class => 'grid_6' } do |form|
  = form.inputs :name => 'Responsibility Type' do
    = form.input :name
    = form.input :required
    = form.commit_button
