= semantic_form_for @responsibility_type do |form|
  %h3 Responsibility type
  = form.inputs do
    = form.input :name
    = form.input :required
  = form.buttons do
    = form.commit_button :button_html => { :class => 'main_link' }
