= semantic_form_for @responsibility_type,
  :html => { :class => 'grid_6' } do |form|
  %h3 Responsibility type
  = form.inputs do
    = form.input :name
    = form.input :required
    = form.commit_button
