= semantic_form_for [@project, @accounting] do |form|
  %h3 Position for project #{@project.description}
  = form.inputs do
    = form.input :description
    = form.input :amount
    = form.input :valuta, :as => :datepicker
    = form.input :sent
    = form.input :payed
    = form.input :link
  = form.buttons do
    = form.commit_button :button_html => { :class => 'main_link' }
