= semantic_form_for [@project, @accounting], :remote => true, :html => { :class => 'grid_6' } do |form|
  %h3 Position for project #{@project.shortname}
  = form.inputs do
    = form.input :description
    = form.input :amount, :input_html => { :size => 12, :maxlength => 12 }
    = form.input :valuta, :as => :date_picker
    = form.input :sent
    = form.input :payed
    = form.input :link
    = form.input :document
    %li.input.file
      %label.label
      - unless @accounting.document_file_name.nil?
        = link_to @accounting.document_file_name, @accounting.document.url
        %span= "(#{@accounting.document.size} Bytes)"
        = check_box_tag 'accounting[delete_document]'
        %span delete
  = form.buttons do
    = form.commit_button
