%h1 Accounting positions

= form_for @search, :url => project_accountings_path(@project.id), :html => {:method => :get} do |f|
  .filters
    %div show only
    = f.check_box :sent_is_true
    = f.label :sent_is_true, 'sent entries'
    %br
    = f.check_box :payed_is_true
    = f.label :payed_is_true, 'payed entries'
    %br
    = f.check_box :positive_is_true
    = f.label :positive_is_true, 'cash-in entries'
    %br
    = f.check_box :positive_is_false
    = f.label :positive_is_false, 'cash-out entries'
    %br
  = f.submit 'filter'

%table.gradient-table
  %thead
    %tr
      %th Description
      %th= sort_link @search, :amount
      %th= sort_link @search, :valuta
      %th Project
      %th= sort_link @search, :sent
      %th= sort_link @search, :payed
      %th Link
      %th Edit
  %tfoot
    %tr
      %td
        %strong Project Return
      %td= @project_return

  - @accountings.each do |accounting|
    %tr
      %td= accounting.description
      %td= accounting.amount
      %td= accounting.valuta
      %td= link_to accounting.project.shortname, edit_project_path(@project)
      %td= accounting.sent
      %td= accounting.payed
      %td= accounting.link
      %td= link_to (image_tag 'edit.png'), edit_project_accounting_path(@project, accounting)
