%h1 Accounting positions

= form_for @search, :url => project_accountings_path(@project.id), :html => {:method => :get} do |f|
  .filters
    %div show only
    = f.check_box :sent_is_true
    = f.label :sent_is_true, 'sent entries'
    %br
    = f.check_box :payed_is_true
    = f.label :payed_is_true, 'payed entries'
    %br
    = f.check_box :positive_is_true
    = f.label :positive_is_true, 'cash-in entries'
    %br
    = f.check_box :positive_is_false
    = f.label :positive_is_false, 'cash-out entries'
    %br
  = f.submit 'filter'

%table.gradient-table
  %thead
    %tr
      %th Description
      %th= sort_link @search, :amount
      %th= sort_link @search, :valuta
      %th Project
      %th= sort_link @search, :sent
      %th= sort_link @search, :payed
      %th Attachments
      %th Edit
      %th Delete
  %tfoot
    %tr
      %td
        %strong Burned
      %td= @past_work
    %tr
      %td
        %strong To burn
      %td= @expected_work
    %tr
      %td
        %strong Project Return
      %td= @project_return
    %tr
      %td
        %strong Profitability
      %td= "#{@project_profitability.round(2)} %"

  - @accountings.each do |accounting|
    %tr
      %td= accounting.description
      %td= accounting.amount
      %td= l accounting.valuta
      %td= link_to accounting.project.shortname, edit_project_path(@project)
      %td= accounting.sent
      %td= accounting.payed
      %td
        = link_to accounting.link unless accounting.link.empty?
        = content_tag :a, accounting.document_file_name,
          :href => accounting.document.url unless accounting.document_file_name.nil?
      %td= link_to (image_tag 'edit.png'), edit_project_accounting_path(@project, accounting)
      %td= link_to (image_tag 'delete.png'), project_accounting_path(@project, accounting), :method => :delete
