%h2.grid_12 Report

= form_for(@report, :as => :search, :url => report_path,
  :html => { :method => :get, :id => "entry_search",
  :class => "grid_12 filter" }) do |f|
  .grid_2.alpha
    = f.label :day_gte, 'begin'
    = f.text_field :day_gte, :class => 'ui-datepicker',
      :value => localized_search_date(f, :day_gte)
  .grid_2
    = f.label :day_lte, 'end'
    = f.text_field :day_lte, :class => 'ui-datepicker',
      :value => localized_search_date(f, :day_lte)
  .grid_3
    = f.label :project_id_equals, 'project'
    = projects_select_id_equals(f,  @active_projects)
  .grid_2
    = f.label :user_id_equals, 'user'
    = users_id_equals_select(f)
  .grid_3.omega
    = f.submit 'search'

#pagination.center
  // = will_paginate @entries

.box.grid_12
  %h2=link_to 'Report', '#', :class => 'toggle-box'
  %div
    %table.reports
      %thead
        %tr
          %th= sort_link @report, :day
          %th= sort_link @report, :duration, "Hours"
          %th= sort_link @report, :user_id
          %th= sort_link @report, :project_id
          %th= sort_link @report, :task_id
          %th= sort_link @report, :description
          %th= sort_link @report, :billable, "Bill"
          %th Edit
      %tfoot
        %tr
          %td Total
          %td= @total_time

      - @entries.each do |entry|
        %tr
          %td= l entry.day
          %td= entry.duration_hours
          %td= entry.user.username
          %td= entry.project.shortname
          %td= entry.task.name
          %td= entry.description
          %td= bool_to_img(entry.billable)
          %td= display_edit_link(entry)

  .button_link
    = link_to 'download CSV',
      report_path( { :search => params[:search] }.merge(:format => "csv"))
