%h1 Report

= form_for(@report, :as => :report, :url => report_path,
  :html => { :method => :get, :id => "entry_search",
  :class => "entry_search" }) do |f|
  .entries_report_item
    = f.label :day_gte, "Begin"
    = f.date_select :day_gte
  .entries_report_item
    = f.label :day_lte, "End"
    = f.date_select :day_lte
  .entries_report_item
    = f.label :project_id_equals, "Project"
    = projects_select_id_equals(f,  @active_projects)
  .entries_report_item
    = f.label :user_id_equals, "User"
    = users_id_equals_select(f)
  #entries_search_button
    = f.submit "Search", :class => 'main_link'
    = link_to "Download CSV", 
      report_path( { :report => params[:report] }.merge(:format => "csv")),
      :class => 'main_link'

%table#gradient-table
  %tr
    -# FIXME: Sorting does not work anymore, y?
    %th= sort_link @report, :day
    %th= sort_link @report, :duration, "Hours"
    %th= sort_link @report, :user_id
    %th= sort_link @report, :project_id
    %th= sort_link @report, :task_id
    %th Edit
  - @entries.each do |entry|
    %tr
      %td= entry.day
      %td= entry.duration_hours
      %td= entry.user.username
      %td= entry.project.shortname
      %td= entry.task.name
      %td= display_edit_link(entry)

%p
  - one_line do
    Total time
    %strong= @total_time

#pagination
  = will_paginate @entries
  %br/
