-if controller.controller_name == 'projects'
  #sub_nav
    - if can? :create, Project
      = link_to 'New project', new_project_path
-if controller.controller_name == 'users'
  #sub_nav
    - if can? :create, User
      = link_to 'New user', new_user_path
      |
    - if can? :show, User
      = link_to 'Users', users_path
-if controller.controller_name == 'project_states'
  #sub_nav
    - if can? :create, ProjectState
      = link_to 'New project state', new_project_state_path
      |
    - if can? :show, ProjectState
      = link_to 'Project states', project_states_path
-if controller.controller_name == 'accountings'
  #sub_nav
    = link_to 'New accounting position', new_project_accounting_path
    |
    = link_to 'Accounting positions', project_accountings_path
-if controller.controller_name == 'milestone_types'
  #sub_nav
    = link_to 'New milestone type', new_milestone_type_path
    |
    = link_to 'Milestone types', milestone_types_path
