!!! XML
!!! Strict
%head
  %title
    Ptime -
    = yield :title
  != stylesheet_link_tag 'application' 
  != stylesheet_link_tag 'calendar' 
  != javascript_include_tag :defaults 
  != javascript_include_tag 'jscalendar-1.0/calendar.js' 
  != javascript_include_tag 'jscalendar-1.0/lang/calendar-en.js' 
  != javascript_include_tag 'jscalendar-1.0/calendar-setup.js' 
  != yield :head

.body
  #container
    #header

    #content
      %h1
        = yield :title
      -if flash[:notice]
        #notice
          = flash[:notice] 
      #main
        != yield

    #sidebar
      != render :partial => 'layouts/sidebar' if @current_user




