!!! 5

%html
  %head
    %title PanterControlling
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    %meta{'charset' => 'utf-8'}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

  %body
    %nav
      %ul
        %li= section_link('Entry', :controller => 'entries', :action => 'new')
        %li= section_link('Report', :controller => 'reports', :action => 'show')
        - if current_user.try(:admin?)
          %li= section_link('Admin', :controller => 'admin', :action => 'index')
      
    #container
      = render :partial => 'layouts/submenu'
      #user_nav
        - if user_signed_in?
          Welcome, 
          = link_to current_user.username, user_path(current_user),
            :id=>'edit_current_user'
          = link_to "Log out", destroy_user_session_path
        - else
          = link_to "Log in", new_user_session_path


      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      = yield
